/* ? SHOPPING CART */
.shopping-cart-items {
    padding: 20px 0px;
    font-size: 1rem;
  }

  
  .shopping-cart-header {
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
  }

  
  .shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
    font-size: 1rem;
  }
  
  .shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
    font-size: 1rem;
  }
  
  .shopping-cart-total {
    min-height: 96px;
    font-size: 1rem;
    
  }
  .shopping-cart h6{

    font-size: 1rem;

  }

  .mb-0 {
    margin-bottom: 0!important;
    color: white;
}
  .totalCarrito{

    margin-right: 75%;
  }